<div class="row">
<div class="col-12">
    <form #f="ngForm">
        <div class="row">
            <div class="col-5 form-group">
                <label class="form-label">Name</label>
                <input type="text" name="name" class="form-control" [ngModel]="name" required>
            </div>
             <div class="col-2 form-group">
                <label class="form-label">Amount</label>
                <input type="number" name="amount" class="form-control" [ngModel]="amount" required pattern="^[0-9]{0,8}$">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" (click)="addShoppingList()" [disabled]="!f.valid">{{ (editMode) ? 'Update' : 'Add' }}</button>
                <button class="btn btn-danger" *ngIf="editMode" (click)="onDelete()">Delete</button>
                <button class="btn btn-danger" (click)="onClear()">Clear</button>
            </div>
        </div>
    </form>
</div>
</div>
